<p>
  <strong>User:</strong>
  <%= @task.user.full_name %>
</p>

<p>
  <strong>Task:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Project:</strong>
  <%= @task.project.name %>
</p>

<p>
  <strong>Details:</strong>
  <%= @task.details %>
</p>

<p>
  <strong>Priority:</strong>
  <%= @task.priority %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Deadline:</strong>
  <%= @task.deadline %>
</p>

<% if can? :update, @task %>
  <%= link_to 'Edit', edit_task_path(@task) %> |
<% end %>
<%= link_to 'Back', tasks_path %>
