<h1>Home page</h1>
<!--  Just to test the login & user role -->
<% if current_user %>
  <br>
  Hello <%=current_user.full_name %>
  <br>
  Your role :
  <%=current_user.admin == true ? "Admin" : "User" %>
  <br>
  Current ENV: <%=Rails.env%>
  <br>
  <br>

  <%=link_to projects_path do %> projects <% end %>
  |
  <%=link_to tasks_path do %> tasks <% end %>
  |
  <%=link_to comments_path do %> comments <% end %>
  |
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>

<% else %>
  <%= link_to('Login', new_user_session_path) %>
<% end %>
