<%= link_to 'New Project', new_project_path, class: 'btn btn-primary' %>

<br>

<!--box-->
<div class="box">
  <!--box-header-->
  <div class="box-header">
    <h3 class="box-title">Projects</h3>
  </div><!--box-header-->

  <!--box-body-->
  <div class="box-body no-padding">
    <table class="table table-striped">
      <tbody>
        <tr>
          <th>User</th>
          <th>Project</th>
          <th>Details</th>
          <th>Status</th>
          <th colspan="3"></th>
        </tr>
        <% @projects.each do |project| %>
          <tr>
            <td><%= project.user.full_name %></td>
            <td><%= project.name %></td>
            <td><%= project.details %></td>
            <td><%= project.status %></td>
            <td><%= link_to 'Show', project %></td>
            <td><%= link_to 'Edit', edit_project_path(project) %></td>
            <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div><!--box-body-->
</div><!--box-->
